body {
    background-color: rgb(12, 35, 64);
}

h1 {
    color: rgb(232, 119, 34);
    text-align: center;
    text-shadow: 1px 1px white;
    text-align: center;
    font-size: 4em;
}

p.uppercase {
    text-transform: uppercase;
}